Header set Access-Control-Allow-Origin "*"
AddType image/svg+xml svg svgz
AddType application/javascript .js
AddEncoding gzip svgz
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/css application/x-javascript application/javascript
</ifmodule>

DirectoryIndex index.php index.html

RewriteEngine On
RewriteBase /
RewriteRule ^github/hacktophp/hacktophp/master/(src/HackToPhp/Transform/FunctionDeclarationTransformer\.php)$ /demo.php?$1 [L,NC]

RewriteRule ^composer\.*$ - [F,L]
RewriteRule ^vendor/?.*$ - [F,L]
RewriteRule ^dbconfig.php.*$ - [F,L]